<!-- ========================= ODS 13 BY SANDRO  ========================= -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <header>


        <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">ODS 13 - Objetivos de Desenvolvimento Sustentável da ONU</h2>
    </header>

    <section>

        <p></p>

        <h1 style=" font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;">Ação Contra a Mudança Global do Clima</h1>
        <p></p>
        <ol style=" text-align:center font-family Verdana, Geneva, Tahoma, sans-serif">A mudança do clima é um evento transnacional, cujos impactos estão desregulando economias nacionais e afetando pessoas em todos os lugares, principalmente aquelas em situação de maior vulnerabilidade nos países em desenvolvimento. Sem a ação imediata
            frente à mudança do clima, a temperatura terrestre está projetada para aumentar mais de 3 ºC até o final do século XXI. Uma das metas para esse objetivo é mobilizar 100 milhões de dólares por ano até 2020 para ajudar os países em desenvolvimento
            no plano de mitigação de desastres relacionados ao clima. O estabelecimento do ODS 13 apenas para lidar com a questão do clima é encarado como estratégico para a mobilização dos atores capazes de promover as mudanças necessárias para impedir
            estas projeções de se tornarem realidade.</ol>

        <p></p>

        <h3 style="text-align:center">Metas do Objetivo</h3>
        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

            <ol style="font-family: Georgia, 'Times New Roman', Times, serif">
                <li> Promover mecanismos para a criação de capacidades para o planejamento relacionado à mudança do clima e à gestão eficaz, nos países menos desenvolvidos, inclusive com foco em mulheres, jovens, comunidades locais e marginalizadas</li>
                <li>Implementar o compromisso assumido pelos países desenvolvidos partes da Convenção Quadro das Nações Unidas sobre Mudança do Clima para a meta de mobilizar conjuntamente US$ 100 bilhões por ano até 2020, de todas as fontes, para atender
                    às necessidades dos países em desenvolvimento, no contexto de ações significativas de mitigação e transparência na implementação; e operacionalizar plenamente o Fundo Verde para o Clima, por meio de sua capitalização, o mais cedo possível
                </li>
                <li>Melhorar a educação, aumentar a conscientização e a capacidade humana e institucional sobre mitigação global do clima, adaptação, redução de impacto, e alerta precoce à mudança do clima</li>
                <li>Integrar medidas da mudança do clima nas políticas, estratégias e planejamentos nacionais </li>
                <li>Reforçar a resiliência e a capacidade de adaptação a riscos relacionados ao clima e às catástrofes naturais em todos os países </li>
            </ol>
    </section>

</body>

</html>
<!-- ========================= END ODS 13 BY SANDRO  ========================= -->