<!-- ========================= ODS 13 BY SANDRO  ========================= -->

<!-- ODS -->

<div class="container-fluid mt-5 mb-5">

      <!--Título ODS-->
      <div class="container">
          <h1 class="display-1"> Objetivo de Desenvolvimento Sustentável 13 <img class="ti" src="https://i.imgur.com/loXbDZf.png" alt="Olho da ONU">
          </h1>
      </div>
      <!--Título ODS-->

      <!-- Objetivos de desenvolvimento sustentável-->
      <div class="container mt-5">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="display-5">Você sabe o que são os objetivos de desenvolvimento sustentável da ONU?</h1>
                  <p class="display fs mt-3">
                      Os 193 Estados membros da ONU, incluindo o Brasil, comprometeram-se a adotar a chamada Agenda
                      Pós-2015, considerada uma das mais ambiciosas da história da diplomacia internacional. A partir
                      dela, as nações trabalharão para cumprir os Objetivos de Desenvolvimento Sustentável (ODS).
                  </p>
                  <p class="display fs">
                      Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para acabar com a pobreza,
                      proteger o meio ambiente e o clima e garantir que as pessoas, em todos os lugares, possam desfrutar
                      de paz e de prosperidade. Estes são os objetivos para os quais as Nações Unidas estão contribuindo a
                      fim de que possamos atingir a Agenda 2030 no Brasil:
                  </p>
              </div>
          </div>

          <div class="row">
              <div class="d-flex justify-content-center">
                  <img class="ti2" src="https://i.imgur.com/ELKdYEt.png" alt="ODS">
              </div>
          </div>
      </div>
      <!-- Objetivos de desenvolvimento sustentável-->

      <!--ODS 13-->
      <div class="container mt-5">
          <div class="row">

              <div class="col-md-12">
                  <h1 class="display-5"> ODS-13 - ação contra a mudança global do clima
              </h1>
              </div>

              <div class="col-md-6">
                  <p class="display fs">
                      A BAEPENDI tem por objetivo principal contribuir com a ação contra a mudança global do clima. Você
                      pode entender de que maneira fazemos isso clicando <a routerLink = "/informacoes"> aqui!</a>
                  </p>
                  <p class="display fs">
                      "A mudança do clima é um evento
                      transnacional, cujos impactos estão desregulando economias nacionais e afetando pessoas em todos os
                      lugares,
                      principalmente aquelas em situação de maior vulnerabilidade nos países em desenvolvimento. Sem a
                      ação imediata
                      frente à mudança do clima, a temperatura terrestre está projetada para aumentar mais de 3 ºC até o
                      final do
                      século XXI. Uma das metas para esse objetivo é mobilizar 100 milhões de dólares por ano até 2020
                      para ajudar os
                      países em desenvolvimento
                      no plano de mitigação de desastres relacionados ao clima. O estabelecimento do ODS 13 apenas para
                      lidar com a
                      questão do clima é encarado como estratégico para a mobilização dos atores capazes de promover as
                      mudanças
                      necessárias para impedir
                      estas projeções de se tornarem realidade." - Agenda ODS 2030.
                  </p>
              </div>

              <div class="col-md-6 p-5 mt-5">
                  <img class="ti4" src="https://i.imgur.com/5Y36HSY.png" alt="ODS-13">
              </div>
          </div>

          <div class="row mt-5">

              <div class="col-md-6 p-3 mt-5">
                  <img class="p-5 ti5" src="https://i.imgur.com/4T82Ss9.jpg" alt="Desenho ODS13">
              </div>

              <div class="col-md-6">
                  <h1 class="display-5" >Metas do objetivo</h1>
                  <p class="display fs">13.1 Reforçar a resiliência e a capacidade de adaptação a riscos relacionados ao clima e às catástrofes naturais em todos os países</p>
                  <p class="display fs">13.2 Integrar medidas da mudança do clima nas políticas, estratégias e planejamentos nacionais</p>
                  <p class="display fs">13.3 Melhorar a educação, aumentar a conscientização e a capacidade humana e institucional sobre mitigação, adaptação, redução de impacto e alerta precoce da mudança do clima</p>
                  <p class="display fs">13.a Implementar o compromisso assumido pelos países desenvolvidos partes da Convenção Quadro das Nações Unidas sobre Mudança do Clima [UNFCCC] para a meta de mobilizar conjuntamente US$ 100 bilhões por ano a partir de 2020, de todas as fontes, para atender às necessidades dos países em desenvolvimento, no contexto das ações de mitigação significativas e transparência na implementação; e operacionalizar plenamente o Fundo Verde para o Clima por meio de sua capitalização o mais cedo possível</p>
                  <p class="display fs">13.b Promover mecanismos para a criação de capacidades para o planejamento relacionado à mudança do clima e à gestão eficaz, nos países menos desenvolvidos, inclusive com foco em mulheres, jovens, comunidades locais e marginalizadas</p>
              </div>
          </div>

      </div>
      <!--ODS 13-->
  </div>
  <!-- ODS -->

<!-- ========================= END ODS 13 BY SANDRO  ========================= -->
