<div class="container-fluid" style="background-color: #97c9e8;">

    <div class="row justify-content-center">


        <div class="col-md-6 mt-5 mb-5">

            <div>
                <div class="col-md-10">

                    <h1 class="text-center">Cadastrar <img class="mb-3" src="https://i.imgur.com/AYWJzle.gif" width="70px" height="70px" /></h1>

                    <form>
                        <!--PRIMEIRA LINHA DO CADASTRO-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="usuario">Usuario </label>
                                <input [(ngModel)]="usuario.nomeUsuario" type="text" class="form-control" id="usuario" name="usuario" placeholder="Entre com seu nome " (click)="test()">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nome">Nome completo</label>
                                <input [(ngModel)]="usuario.nomePessoal" type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo" (click)="test()">
                            </div>
                        </div>
                        <!--FINALIZAÇÃO DA PRIMEIRA LINHA-->

                        <!--INICIO DA SEGUNDA LINHA-->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">E-mail </label>
                                <input (input)="confirmEmail($event)" type="email" class="form-control" id="email" name="email" placeholder="Entre com seu e-mail" (click)="test()">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="confirmeEmail">Confirme seu e-mail </label>
                                <input [(ngModel)]="usuario.email" type="email" class="form-control" id="confirmeEmail" name="confirmeEmail" placeholder=" Confirme seu e-mail " (click)="test()">
                            </div>
                        </div>
                        <!--FINALIZAÇÃO DA SEGUNDA LINHA-->

                        <!--INICIO DA TERCEIRA LINHA-->
                        <div class="form-row ">
                            <div class="form-group col-md-6 ">
                                <label for="senha ">Senha (mínimo de 6 caracteres)</label>
                                <input (input)="confirmSenha($event) " type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha " (click)="test()">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="confirmeSenha ">Confirme sua senha</label>
                                <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="confirmeSenha" name="confirmeSenha" placeholder="Confirme sua senha " (click)="test()">
                            </div>
                        </div>
                        <!--FINALIZAÇÃO DA TERCEIRA LINHA-->

                        <!--INICIO DA QUARTA LINHA-->
                        <div class="form-row ">
                            <div class="form-group col-md-6 ">
                                <label for="linkFoto ">Link da foto</label>
                                <input [(ngModel)]="usuario.foto" type="text " class="form-control" id="linkFoto" name="linkFoto" placeholder="Link da sua foto " (click)="test()">
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="endereco ">Endereço</label>
                                <input [(ngModel)]="usuario.endereco" type="text " class="form-control " id="endereco " name="endereco" placeholder="Seu endereço " (click)="test()">
                            </div>

                        </div>
                        <!--FINALIZAÇÃO DA QUARTA LINHA-->

                        <!--INICIO DA QUINTA LINHA-->
                        <div class="form-row ">
                            <div class="form-group col-md-6 ">
                                <label for="cidade ">Cidade</label>
                                <input [(ngModel)]="usuario.cidade" type="text " class="form-control " id="cidade " name="cidade" placeholder="Cidade onde você mora " (click)="test()">
                            </div>

                            <div class="form-group col-md-4 ">
                                <label for="estado ">Estado</label>
                                <input [(ngModel)]="usuario.estado" type="text" class="form-control" id="estado" name="estado" placeholder="Seu estado" (click)="test()">
                            </div>
                            <div class="form-group col-md-2 ">
                                <label for="cep ">CEP</label>
                                <input [(ngModel)]="usuario.cep" type="text " class="form-control " id="cep " name="cep" (click)="test()">
                            </div>
                        </div>
                        <!--FINALIZAÇÃO DA QUINTA LINHA-->


                        <div class="d-flex justify-content-center ">
                            <button type="submit " class="btn btn-success mr-4 " (click)="cadastrar()">Cadastrar</button>
                            <button type="submit " class="btn btn-danger " routerLink="/inicio ">Cancelar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
