
<div class="row d-flex justify-content-center">
  <div class="col-md-10">

    <h2 class="text-center">Entre em contato conosco: </h2>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input class="form-control" type="text" id="nome" placeholder="Digite seu nome">
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input class="form-control" type="email" name="email" id="email" placeholder="Insira seu E-mail" cols="10">
    </div>

    <div class="form-group">
      <label for="texto">Texto:</label>
      <textarea class="form-control" name="texto" id="texto" placeholder="Conte-nos seu feedback" rows="5" cols="25"></textarea>
    </div>

    <h1>Caso queira nós conhecer!</h1>
    <div class="col-md-6" >
      <div class=" col-md-6" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14623.224653119001!2d-46.598684685869834!3d-23.611283691896688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c80e1cf4d9b%3A0x82dc0eb8038f7d3c!2sCidade%20Nova%20Heli%C3%B3polis%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1633319150059!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>


  </div>
</div>

