<!-- carrosel -->
<div
  class="carousel fade-carousel slide carousel-fade"
  data-ride="carousel"
  data-interval="5000"
  id="bs-carousel"
>
  <!-- Overlay -->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active carousel-item">
      <div class="slide-1">
        <div class="overlay"></div>
        <div class="hero">
          <h3>Nossa Missão</h3>
          <h5 style="margin-top: 5%">
            A pandemia causada pelo novo Coronavirus impactou, dentre diversos
            outros pontos, o setor de emprego. Muitas pessoas se viram obrigadas
            a migrar para o setor informal. Nossa plataforma visa abranger essas
            pessoas, como forma de amenizar o impacto financeiro em suas vidas e
            valorizar seu trabalho.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/sobre-nos">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-2">
        <div class="overlay"></div>
        <div class="hero">
          <h3>No que nos baseamos ?</h3>
          <h5 style="margin-top: 5%">
            O objetivo de Desenvolvimento Sustentável número 13 dialoga com a
            questão climática global. Nossa plataforma tem o intuito de valoriar
            produtos reciclados, como forma de amenizar os impactos trazidos
            pela cadeia de consumo em massa, que envolvem desmatamento, pressão
            sobre recursos naturais, entre outros.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/ods">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-3">
        <div class="overlay"></div>
        <div class="hero">
          <h3>A arte e suas fronteiras</h3>
          <h5 style="margin-top: 5%">
            Nossa plataforma procura promover a arte através do apoio a diversos
            artistas independentes. Esperamos que aqui possa se tornar um espaço
            amigável para aqueles que desejam compartilhar seu trabalho com o
            mundo e para aqueles que procuram apreciar o trabalho artísitico
            alheio.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg">Saiba Mais</button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-4">
        <div class="overlay"></div>
        <div class="hero">
          <h3>A loja</h3>
          <h5 style="margin-top: 10%">Conheça nossos produtos.</h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/todosprodutos">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fim do carrossel -->

<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="jumbotron-background">
    <img src="https://eskipaper.com/images/leaves-background-1.jpg" alt="" />
  </div>

  <div class="container text-white">
    <h1
      class="display-4"
      style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      "
    >
      Baependi: Unindo consciência e consumo
    </h1>
    <p class="lead">Compre conosco, incentive a arte e a reutilização!</p>
    <hr class="my-4" />

    <a
      class="btn btn-outline-info btn-lg mr-5"
      href="#"
      role="button"
      routerLink="/contato"
      >Contato</a
    >
    <a
      class="btn btn-outline-info btn-lg"
      href="#"
      role="button"
      routerLink="/informacoes"
      >Saiba mais</a
    >
  </div>
  <!-- /.container -->
</div>

<h5 class="text-center display-4">Produtos em destaque</h5>

<div class="row">
  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Belos recipientes de plantas originados de latas reutilizadas</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$ 30,75</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/7QjoeyW.jpeg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>

  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Pneus estilizados (servem de assento ou apetrechos de jardim)</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$ 50.00</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/57UZQlC.jpg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>
  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Estante reutilizada e estilizada a partir de um antigo violão</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$65,90</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/xYOEifO.jpg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>
</div>

<button class="btn-success btn1 button1" routerLink="/todosprodutos">
  Todos os produtos
</button>
