       <!--Impactos da reutilização-->
<div class="container-fluid mt-5 mb-5">

    <div class="container">
      <h1 class="display-1">Impactos e possibilidades da reutilização <img class="ti" src="https://img.icons8.com/clouds/100/000000/recycle-sign.png"/></h1>
    </div>

  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <h1 class="display-4 mb-3">EM CASA</h1>
        <p class="display fs" >
          Todos os dias vários materiais são considerados inúteis e jogados nos lixos domiciliares, mas existem muitas formas para reutilizar esses produtos. Potes e garrafas de plástico podem ser transformados em vasos para plantas ou utilizados para guardar outros materiais, papéis usados podem ser transformados em blocos de rascunho, garrafas podem ser utilizadas como objetos de decoração, pilhas comuns podem ser substituídas por pilhas recarregáveis, sobras de alimentos podem se transformar em adubo para plantas, móveis velhos podem ser restaurados e consertados.
        </p>
      </div>

      <div class="col-md-6 p-5 mt-5">
        <img class="ti2" src="https://i.imgur.com/SPIzcqU.gif" alt="Ilustração reuse papéis">
      </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="ti3 p-4" src="https://i.imgur.com/sMXyLQx.jpg" alt="Ilustração de reutilização construção cívil">
        </div>

        <div class="col-md-6">
          <h1 class="display-4 mb-3">CONSTRUÇÕES CIVIS</h1>
          <p class="display fs" >
              As atividades do setor da construção civil também são grandes geradoras de resíduos. Mas através de um processo de separação e organização é possível reutilizar vários materiais, entre eles: portas, janelas, pisos, telhas, madeiras de escoramento, fios, embalagens e peças de banheiro. Resíduos de cerâmica, concreto e argamassa podem ser reutilizados para preenchimentos não estruturais. Infelizmente no Brasil poucas empresas da construção civil fazem o correto gerenciamento de resíduos.
          </p>
        </div>
    </div>

    <div class="row mb-5">

      <div class="col-md-6">
        <h1 class="display-4 mb-3">SETOR INDUSTRIAL</h1>
        <p class="display fs" >
          No setor industrial os resíduos gerados são muitos e possuem características diversas, sendo possível a reutilização de vários desses resíduos no mesmo ou em outros processos produtivos. A resolução a <a href="http://www.siam.mg.gov.br/sla/download.pdf?idNorma=263">CONAMA nº 313/2002</a> reúne o conjunto de informações necessárias para que as indústrias realizem o adequado gerenciamento de seus resíduos, sendo a reutilização uma das etapas desse processo. A reutilização contribui para reduzir os custos de produção e aumentar a lucratividade e competitividade das empresas.
        </p>
      </div>

      <div class="col-md-6">
        <img class="ti3" src="https://i.imgur.com/aMod7hE.jpg" alt="Ilustração indústria">
      </div>
    </div>  
   
    <div class="row">

      <div class="col-md-6 p-5">
          <h1 class="display-1 fs2">Venha construir um mundo melhor reutilizando com a BAEPENDI</h1><img class="ti4" src="https://i.imgur.com/ZZG3A0f.jpg?1" alt="Ilustração mundo melhor">
      </div>

      <div class="col-md-6">
        <p class="display-1 fs2" >
          Ao reutilizar estamos contribuindo para minimizar a retirada de matéria-prima da natureza e reduzir a quantidade de água e energia necessária à fabricação de novos bens de consumo. Além disso, essa prática reduz o volume de resíduos e do lixo depositados no meio ambiente, contribuindo para a preservação ambiental e para a melhoria na qualidade de vida da população.
        </p>
      </div>
  </div>

  </div>
  <!--Impactos da reutilização-->


