        <h1 class="text-center mb-5 mt-5"> Dados </h1>
          <div class= "container-fluid">
            <div class="row d-flex justify-content-between">
              <div class="col-md-6">

                <h2>Reciclagem?</h2>

                <p>
                  Diariamente é produzido milhares de toneladas de lixo e esse é um problema que vem se tornando maior pois estamos chegando em um ponto onde já não é mais possivel produzir e viver nas grandes cidades sem a implantação de medidas mais eficazes. Os aterros já não conseguem absorver a quantidade de lixo e a degradação do meio ambiente vem atingindo proporções perigosas para nossa sobrevivência no planeta. Nossos rios e represas estão cada vez mais contaminados; ratos e insetos proliferam-se; as ruas estão sujas favorecendo todo tipo de doenças.
              </p>

              <p>
                Diante disso o poder público e a população está sempre tentando buscar soluções viavéis para a preservação do meio ambiente e da nossa própria espécie.
                Por meio da Coleta Seletiva podemos separar os materiais recicláveis dos não recicláveis. Isso significa que uma parte do lixo pode ser reaproveitada gerando uma menor degradação para o meio ambiente e tornando-se uma solução onde trará solução econômica e social, passando a gerar empregos e lucro.
              </p>

              <h2> Vantagens da Reciclagem </h2>

              <p>
                •  Redução do consumo de matérias primas virgens (muitas delas não são renováveis e o custo de exploração pode ser altíssimo);
              </p>
              <p>
                •  Melhoria da limpeza da cidade e da qualidade de vida da população;
              </p>
              <p>
                •  Aumento da vida útil de aterros sanitários (com o objetivo final de inutilizarmos esses espaços no longo prazo);
              </p>
              <p>
                •  Melhoria da produção de compostos orgânicos;
              </p>
              <p>
                •  Geração de empregos para a população e de receita para pequenas e micro empresas;
              </p>
              <p>
                •  Geração de receita com a comercialização dos materiais recicláveis;
              </p>
              <p>
                •  Estímulo à concorrência, uma vez que os produtos gerados a partir dos materiais reciclados são comercializados paralelamente aos produzidos a partir de matérias-primas virgens;
              </p>
              <p>
                •  Contribuição para a valorização da limpeza pública e para geração de uma consciência ecológica na população;
              </p>
              <p>
                •  Diminuição a prevenção de riscos a saúde pública: evita a contaminação de solos, rios e ar que indiretamente causariam doenças;
              </p>
              </div>

              <div class="col-md-6">

                <img src="https://i.imgur.com/J4kxiro.jpeg" alt="">

              </div>

            </div>

            </div>



            <h2 class="text-center mt-5">Benefícios específicos da Reciclagem</h2>

<div class="container-fluid">
<div class="row d-flex justify-content-between">

  <div class="col-md-6">
    <img src="https://imgur.com/K4K9j2h.jpeg" alt="">
  </div>


  <div class="col-md-6 mt-5 mb-5">
    <h4>PAPEL:</h4>

    <p>
      A cada 28 toneladas de papel reciclado evita-se o corte de 1 hectare de floresta (1 tonelada evita-se o corte de 30 ou mais árvores).
    </p>
    <p> 1 tonelada de papel novo precisa de 50 a 60 eucaliptos, 100 mil litros de água e 5 mil KW/h de energia.
    </p>
    <p>1 tonelada de papel reciclado precisa de 1.200 Kg de papel velho, 2 mil litros de água e 1.000 a 2.500 KW/h de energia.</p>
    <p>Com a produção de papel reciclado evita-se a utilização de processos químicos evitando-se a poluição ambiental: reduz em 74% os poluentes liberados no ar e em 35% os despejados na água.</p>
    <p>A reciclagem de uma tonelada de jornais evita a emissão de 2,5 toneladas de dióxido de carbono na atmosfera
    .</p>
    <p> O papel jornal produzido a partir das aparas requer 25% a 60% menos energia elétrica que a necessária para obter papel da polpa da madeira. O papel feito com material reciclado reduz em 74% os poluentes liberados no ar e em 35% os despejados na água, além de reduzir a necessidade de derrubar árvores.</p>

    <h4>VIDRO:</h4>
 <p>É 100% reciclável, portanto não é lixo. 1 kg de vidro reciclado produz 1 kg de vidro novo.</p>
 <p>As propriedades do vidro se mantêm mesmo após sucessivos processos de reciclagem. Ao contrário do papel, que vai perdendo qualidade ao longo de algumas reciclagens.</p>
 <p>O vidro não pode ser degradado facilmente, então não deve ser despejado no solo.
 </p>
 <p>Para a produção de um material feito de vidro são necessários diversos recursos naturais: areia, barrilha, calcário, carbonato de sódio, cal, dolomita e feldspato, sendo este último um fundente muito raro.
 </p>
 <p>A temperatura para fundição é, em média, 1.500ºC, necessitando muita energia e equipamentos especializados.
 </p>
 <p>A reciclagem do vidro requer menos temperatura para ser fundido, economizando aproximadamente 70% de energia e permitindo maior durabilidade dos fornos.</p>
 <p>1 tonelada de vidro reciclado evita a extração de 1,3 tonelada de areia, economiza 22% no consumo de barrilha (material importado) e 50% no consumo de água.</p>
 <h4>PLÁSTICO:</h4>
 <p>São derivados do petróleo, recurso natural não renovável com previsão de esgotamento dentro de 40 anos.</p>
 <p>A sua reciclagem economiza até 90% de energia e gera mão-de-obra pela implantação de pequenas e médias indústrias.
 </p>
 <p>100 toneladas de plástico reciclado evita a extração de 1 tonelada de petróleo.
  </p>
  <h4>METAL:</h4>
 <p>A matéria prima requer exploração, processos tecnológicos sofisticados e altos custos energético, econômico e ambiental.
 </p>
 <p>A reciclagem de 1 tonelada de aço economiza 1.140 Kg de minério de ferro, 155 Kg de carvão e 18 Kg de cal.</p>
 <p>Na reciclagem de 1 tonelada de alumínio economiza-se 95% de energia (são 17.600kwh para fabricar alumínio a partir de matéria prima virgem contra 750kwh a partir de alumínio reciclado), 5 toneladas de bauxita e evita-se a poluição causada pelo processo convencional: redução de 85% da poluição do ar e 76% do consumo de água.</p>
 <p>1 tonelada de latinhas de alumínio, se forem recicladas, economizam 200 m3 de aterros sanitários.</p>
 <p>64% das latas no Brasil (1,7 bilhão de unidades) são recicladas, superando os índices de países como o Japão, Inglaterra, Alemanha, Itália, Espanha e Portugal.</p>
 <p>Entretanto, este número pode chegar próximo a 100% dependendo de suas atitudes!
 </p>
 <p>O mesmo vale para a renovação espiritual. Uma pessoa bem de espírito é uma pessoa feliz e não busca tantos subsídios materiais para satisfazer suas necessidades ideológicas (mas esta é uma discussão profunda e não vou entrar neste assunto aqui).
 </p>
 <p>A palavra reciclar (segundo o dicionário) também tem o significado de atualização científica, pedagógica, profissional, etc. por meio de formação complementar. Isto significa que a reciclagem deve se dar também no âmbito pessoal de cada indivíduo, para que, entre outras coisas, seja possível melhorar a sua qualidade de vida.</p>
 <p>Reciclando nossos resíduos e mais as nossas atitudes, a preservação da VIDA será alcançada mais facilmente!
 </p>

       </div>

    </div>

</div>

<h5 class="text-center">Referências Bibliográficas</h5>

<div class="row">
  <div class="col-md-12">
    <h5 class="text-center">Fonte: www.pucpr.br</h5>
    <h5 class="text-center">Fonte: https://www.portalsaofrancisco.com.br/</h5>
  </div>
</div>



