<!--Footer-->
<footer>

    <div class="p-5 mb-5 bg-info text-white">

        <div class="container">

            <div>

                <li class="col-md-6 mb-3 d-flex justify-content-lg-start">
                    <a routerLink='/contato'
                        class="text-light">
                        <h1>Fale conosco</h1>
                    </a>
                </li>

                <div class="col-md-6">
                    <p> baependiprojeto@gmail.com</p>
                    <p> +55 11 97319-87703</p>
                </div>

            </div>

            <hr>
            <div>
                <p class="d-flex justify-content-center">
                    Todos direitos reservados a Baependi &copy;
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->
